# This file contains common pin mappings for the BIGTREETECH EBB36
# GEN2 board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)" .
# The "EBB36 GEN2" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBB]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid=054bdad9e4b1

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

#[lis2dw]
#cs_pin: EBB:PB1
#spi_bus:spi2_PB2_PB11_PB10
#axes_map: x,y,z

[extruder]
step_pin: EBB:PB14
dir_pin: !EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
rotation_distance: 47.088
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
min_temp: 0
max_temp: 350
min_extrude_temp: 190
max_extrude_cross_section: 50.0
max_extrude_only_distance: 200
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: EBB:PB3            # according to your wiring
run_current: 0.6             # for LDO motor 36STH20-1004AGH
sense_resistor: 0.110        # correct value for EBB36 GEN2
stealthchop_threshold: 0     # StealthChop disabled → full torque
interpolate: false           # use exact microsteps as configured (16)

#[filament_switch_sensor fil_det]
#switch_pin: EBB:PD0

[fan]
pin: EBB:PD3 
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: EBB:PD2 #[PD2]
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: EBB:PA4
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

#[heater_fan 3w_fan2]
#pin: EBB:PD2
#tachometer_pin: EBB:PA4

#[neopixel hotend_rgb]
#pin: EBB:PC7

#[bltouch]
#sensor_pin: ^!EBB:PB8
#control_pin: EBB:PB5

#[output_pin rled]
#pin:EBB:PA2

#[temperature_sensor BME280]
#sensor_type: BME280
#i2c_mcu: EBB
##i2c_bus: i2c3_PA7_PA6
#i2c_software_scl_pin: EBB:PA7
#i2c_software_sda_pin: EBB:PA6

#endstop_pin: EBB:PA15
#diag_pin: ^EBB:PD1
